body {
    background-color: #e4e9f7;
}

.mycard {
    /* height: 100%;
    padding: 40px 80px; */
    box-shadow: -8px -8px 45px rgba(0, 0, 0, 0.1),
        8px 8px 45px rgba(255, 255, 255, 1);
    border-radius: 8px;
    background-color: #ffffff;
}

* {
    font-family: "Poppins", sans-serif;
}
